body{
    background-image: url(https://t3.ftcdn.net/jpg/02/74/67/86/360_F_274678648_HB3EKLWEO4NIyDdmphtU8EerGe7W5w5D.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}